# Example .env file

TOKEN=<your telegram bot token>
LOG_PATH=<relative path for bot internal logs, or empty/removed if no logging to file is required>
DB_HOST=<MongoDB host name>
DB_PORT=<MongoDB port>
DB_FEED_DATA_NAME=<stored data DB name>
LOOKUP_INTERVAL_SECONDS=<how often should bot check for RSS updates in seconds>
INSTAGRAM_RSS_FEED_LINK=<link to Instagram RSS feed where user name pattern is defined below>
INSTAGRAM_RSS_FEED_USER_PATTERN=<Instagram user pattern from the link above>