beautifulsoup4~=4.15.0
feedparser~=6.0.12
httpx~=0.28.1
loguru~=0.7.3
mergedeep~=1.3.4
more-itertools~=11.1.0
opencv-python-headless~=5.0.0.93
pillow~=12.3.0
pymongo~=4.17.0
pytest~=9.1.1
python-dateutil~=2.9.0.post0
python-dotenv~=1.2.2
python-telegram-bot~=22.8
python-telegram-bot[callback-data]~=22.8
python-telegram-bot[job-queue]~=22.8
PyYAML~=6.0.3